<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Admin</title>
</head>
<link rel="stylesheet" type="text/css" href="Views/CSS/Admin/adminMain.css">

<body>
<div class = "header">
    <li class="li"><a href="/admin/admission_approval">审批进校申请</a></li>
    <li class="li"><a href="/admin/adminManageLeave?state=3&sortBy=1&student_id=">审批离校申请</a></li>
    <li class="li"><a href="/admin/studentaccess">入校权限查看</a></li>
    <li class="li"><a href="/admin/dailyhealth">健康打卡查看</a></li>
    <li class="li"><a href="/admin/depart_analyse">院系数据分析</a></li>
    <li class="li"><a href="/admin?type=logout">退出登录</a></li>
</div>
</body>
</html>