<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Student</title>
</head>

<link rel="stylesheet" type="text/css" href="Views/CSS/Student/StudentMain.css">

<body>
<div class = "header">
    <li class="li"><a href="/student/leaveapply">离校申请</a></li>
    <li class="li"><a href="/student/enterapply">入校申请</a></li>
    <li class="li"><a href="/student/log">进校打卡</a></li>
    <li class="li"><a href="/student/daily_health">健康打卡</a></li>
    <li class="li"><a href="/student?type=logout">退出登录</a></li>
</div>
</body>
</html>