<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>离校申请</title>
    <link rel="stylesheet" type="text/css" href="../../Views/CSS/Student/StudentLeaveApply.css">
</head>

<body>
<div class="form-main">
    <form class="form" action="/student/leaveapply">
        <div class="input-main">
            <h1>离校申请</h1>
            <div class="input">原因：<input type="text" style="width: 75%;"></div>
            <div class="input">目的地：<input type="text" style="width: 75%"></div>
            <div class="input">离校时间：<input type="text" style="width: 75%"></div>
            <div class="input">离校时间：<input type="text" style="width: 75%"></div>
            <div class="button"><button type="submit">提交申请</button></div>
        </div>
    </form>
</div>
</body>
</html>