<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Student</title>
</head>

<link rel="stylesheet" type="text/css" href="../../Views/CSS/Student/StudentLog.css">

<body>
<div class = "header">
    <li class="li"><a href="/student?type=enterCampus&m=h">邯郸校区</a></li>
    <li class="li"><a href="/student?type=enterCampus&m=j">江湾校区</a></li>
    <li class="li"><a href="/student?type=enterCampus&m=f">枫林校区</a></li>
    <li class="li"><a href="/student?type=enterCampus&m=z">张江校区</a></li>
</div>
</body>
</html>