table {
    border-right: 1px solid #000000;
    border-bottom: 1px solid #000000;
    text-align: center;
    margin:auto;
}

table tr {
    border-left: 1px solid #000000;
    border-top: 1px solid #000000;
}

table td {
    border-left: 1px solid #000000;
    border-top: 1px solid #000000;
}