<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Login</title>
</head>

  <link rel="stylesheet" type="text/css" href="Views/CSS/Login.css">

<body>

    <div class = "login-main">
      <form action="?type=login" method="post" class = "input-main">
          <input type="text" class = "input-id" name="inputId">
          <input type="password" class = "input-password" name="inputPassword">
          <button type="submit" class = "input-button" name="inputButton">登录</button>
      </form>
    </div>

</body>
</html>