<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>过去N天都在校</title>
    <script type="text/javascript" src="./../Views/JS/SuperAdmin/lastndaynoleave.js"></script>
</head>

<body>
<!-- 导航栏 -->
<?php
    session_start();
            ?>

<!--搜索框  -->
<div id="searchpart">
    <!-- 搜索框 -->
    <section id="searchBox">
        <div id="wraning">筛选条件：</div>
        <div id="inputBox">
            <input type="days" placeholder="过去n天" id="searchnumber" oninput="value=value.replace(/^(0+)|[^\d]+/g,'')">

        </div>

        <label for="depart">院系选择</label>
        <select name="downlist" id="depart">
        </select>
        <label for="class">班级选择</label>
        <select name="downlist" id="class" disabled>
        </select>
        <a  id="search_btn" href="#">点击此处搜索</a>
    </section>
</div>


<div id="seachingresultform">

    <table border="1">
        <thead>
        <tr>
            <th border-width="1px">学生ID</th>
            <th  border-width="1px">学生姓名</th>
        </tr>
        </thead>
        <tbody id="result">
        </tbody>
    </table>
</div>

</body>
</html>