<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>不在校学生</title>
    <script type="text/javascript" src="./../Views/JS/SuperAdmin/superadminstudentoutschool.js"></script>
</head>

<body>
    <table border="1">
        <thead>
        <tr>
            <th border-width="1px">学生ID</th>
            <th border-width="1px">姓名</th>
            <th  border-width="1px">电话号码</th>
            <th border-width="1px">电子邮件</th>
            <th border-width="1px">身份证号码</th>

            <th border-width="1px">院系</th>
            <th border-width="1px">班级</th>
            <th border-width="1px">辅导员ID</th>
            <th border-width="1px">系主任ID</th>
            <th border-width="1px">离校时间</th>
        </tr>
        </thead>
        <tbody id="result">
        </tbody>
    </table>
</div>

</body>
</html>