<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>SuperAdmin</title>
    <link rel="stylesheet" type="text/css" href="Views/CSS/SuperAdmin/SuperAdminMain.css">
</head>
<body>

<div class = "header">
    <li class="li"><a href="/superadmin/addstudent">添加学生信息</a></li>
    <li class="li"><a href="/superadmin/addteacher">添加教师信息</a></li>
    <li class="li"><a href="/superadmin/studentinfo">学生信息查看</a></li>
    <li class="li"><a href="/superadmin/admissionapplymax">入校申请最多学生</a></li>
    <li class="li"><a href="/superadmin/adminManageEnter?state=3&sortBy=1&student_id=">审批进校申请</a></li>
    <li class="li"><a href="/superadmin/adminManageLeave?state=3&sortBy=1&student_id=">审批离校申请</a></li>
</div>
<div class = "header">
    <li class="li"><a href="/superadmin/studentoutofschool">离校学生查看</a></li>
    <li class="li"><a href="/superadmin/studentaccess">入校权限查看</a></li>
    <li class="li"><a href="/superadmin/dailyhealth">健康打卡查看</a></li>
    <li class="li"><a href="/superadmin/yearleavetime">一年学生离校时长</a></li>
    <li class="li"><a href="/admin?type=logout">退出登录</a></li>
</div>

</body>
</html>