<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>学生离校时长</title>
    <script type="text/javascript" src="./../Views/JS/SuperAdmin/yearleavetime.js"></script>
</head>

<body>
<div id="searchpart">
    <!-- 搜索框 -->
    <section id="searchBox">
        <div id="inputBox">
            <input type="text" placeholder="搜索学生ID" id="searchInput">
            <a id="search-btn" href="#">点击此处搜索</a>
        </div>
    </section>
</div>
<div id="leavetimeresult"></div>

</body>
</html>